/* Placing necessary colours in var(iables) for easier and more consistent work. Instead of changing every colour individually, once the colours are assigned to the target elements, everything can be changed painlessly from here!*/
//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             VARIABLES                                         *//
//*_______________________________________________________________________________________________*//
:root {
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsla(216, 12%, 54%, 0.205);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             VARIABLES                                         *//
//*_______________________________________________________________________________________________*//
//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             RESET                                             *//
//*_______________________________________________________________________________________________*//

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input[type="radio"] {
    display: none;
}

//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             RESET                                             *//
//*_______________________________________________________________________________________________*//
//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             GLOBAL                                            *//
//*_______________________________________________________________________________________________*//

body {
    height: 100vh;
    font-family: "Overpass", sans-serif;
    background-color: var(--veryDarkBlue);
}
h2 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;

    @media (min-width: 30rem) {
        font-size: 2rem;
    }
}
p {
    font-size: 0.7rem;
    line-height: 1.7em;
    color: var(--lightGrey);
    margin: 0;

    @media (min-width: 20rem) {
        font-size: 0.8rem;
    }

    @media (min-width: 30rem) {
        font-size: 1rem;
    }
}
button {
    border: none;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--orange);
    letter-spacing: 0.25rem;
    width: 100%;
    padding: 0.7rem;
    border-radius: 2rem;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
    &:active {
        background-color: var(--white);
        color: var(--orange);
    }
    @media (min-width: 30rem) {
        padding: 1rem;
    }
}
main {
    height: 100vh;
    width: 100vw;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--darkBlue);
    border-radius: 1rem;
    padding: 1.7rem 0rem;
    width: 24rem;
    height: 22rem;

    @media (min-width: 30rem) {
        border-radius: 2rem;
        width: 28rem;
        height: 29rem;
        padding: 2rem;
    }
}
.content-page__unsubmitted,
.content-page__submitted {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bg__star {
    padding: 0.7rem;
    @media (min-width: 25rem) {
        padding: 0.8rem;
    }
    @media (min-width: 30rem) {
        padding: 1.2rem;
    }
}
.bg__star,
.rating-btn {
    background-color: var(--mediumGrey);
    border-radius: 100%;
    aspect-ratio: 2/2;
    font-size: small;
}

.rating__buttons {
    color: var(--lightGrey);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.rating-btn {
    width: 2.2rem;
    display: grid;
    place-items: center;

    @media (min-width: 20rem) {
        width: 3rem;
    }
    @media (min-width: 30rem) {
        width: 3.5rem;
    }

    &:hover {
        background-color: var(--lightGrey);
        color: var(--white);
    }
    &:active {
        background-color: var(--orange);
        color: var(--white);
    }
}

.content-page__submitted {
    text-align: center;
    align-items: center;
}
.phone__img {
    width: 50%;
}
.rating {
    background-color: var(--mediumGrey);
    color: var(--orange);
    border-radius: 2rem;
    padding: 0.4rem 1rem;
    font-size: small;

    @media (min-width: 25rem) {
        font-size: medium;
        padding: 0.5rem 1.5rem;
    }
}

.is--not-visable {
    display: none;
}

.btn--selected {
    background: var(--lightGrey);
    color: var(--white);
}
