/* Placing necessary colours in var(iables) for easier and more consistent work. Instead of changing every colour individually, once the colours are assigned to the target elements, everything can be changed painlessly from here!*/
//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             VARIABLES                                         *//
//*_______________________________________________________________________________________________*//
:root {
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsla(216, 12%, 54%, 0.205);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             VARIABLES                                         *//
//*_______________________________________________________________________________________________*//
//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             RESET                                             *//
//*_______________________________________________________________________________________________*//

* {
    box-sizing: border-box;
}
input[type="radio"] {
    display: none;
}

//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             RESET                                             *//
//*_______________________________________________________________________________________________*//
//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             GLOBAL                                            *//
//*_______________________________________________________________________________________________*//

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: "Overpass", sans-serif;
    background-color: var(--veryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: var(--darkBlue);
    width: 90%;
    padding: 1.5em;
    border-radius: 1.5em;
    margin: 2em auto;
}
//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             GLOBAL                                            *//
//*_______________________________________________________________________________________________*//
//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             CARD 1                                            *//
//*_______________________________________________________________________________________________*//

.page__unsubmitted {
    display: block;
}
.bg-circle__star {
    background-color: var(--mediumGrey);
    border-radius: 50%;
    padding: 1em;
}
.second-heading {
    margin-bottom: 0.5em;
    color: var(--white);
    font-size: 1.6rem;
}
.paragraph {
    line-height: 1.7em;
    margin-top: 0;
    font-size: 0.9rem;
}
.paragraph,
.rating__buttons {
    color: var(--lightGrey);
}
.rating__buttons {
    display: flex;
    justify-content: space-between;
    margin: 1.7em 0;
    font-weight: bold;
}
.rating-btn {
    cursor: pointer;
    background-color: var(--mediumGrey);
    border-radius: 50%;
    padding: 0.8em 1.2em;
    font-weight: bold;

    &:hover {
        background-color: var(--lightGrey);
        color: var(--white);
    }
    &:active {
        background-color: var(--orange);
        color: var(--white);
    }
}

/*added class with JS to the selected rating*/
.selected {
    background-color: var(--lightGrey);
    color: var(--white);
}

.btn {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--white);
    background-color: var(--orange);
    border: none;
    width: 100%;
    padding: 1em;
    border-radius: 2em;
    display: block;
    margin: 0 auto;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
    &:active {
        background-color: var(--white);
        color: var(--orange);
    }
}

//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             CARD 1                                            *//
//*_______________________________________________________________________________________________*//
//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             CARD 2                                            *//
//*_______________________________________________________________________________________________*//

.page__submitted {
    display: none;
    text-align: center;
}
.page__submitted img {
    margin-bottom: 1em;
}
.rating {
    background-color: var(--mediumGrey);
    color: var(--orange);
    border-radius: 1em;
    padding: 0.4em 1.3em;
    display: inline-block;
    margin-bottom: 0.7em;
}

@media all and (min-width: 500px) {
    .card {
        padding: 1.9em;
        width: 400px;
    }
}

//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             CARD 2                                            *//
//*_______________________________________________________________________________________________*//
