/* Placing necessary colours in var(iables) for easier and more consistent work. Instead of changing every colour individually, once the colours are assigned to the target elements, everything can be changed painlessly from here!*/
//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             VARIABLES                                         *//
//*_______________________________________________________________________________________________*//
:root {
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsla(216, 12%, 54%, 0.205);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             VARIABLES                                         *//
//*_______________________________________________________________________________________________*//
//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             RESET                                             *//
//*_______________________________________________________________________________________________*//

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input[type="radio"] {
    display: none;
}

//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             RESET                                             *//
//*_______________________________________________________________________________________________*//
//*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*//
//*                                             GLOBAL                                            *//
//*_______________________________________________________________________________________________*//

body {
    height: 100vh;
    font-family: "Overpass", sans-serif;
    background-color: var(--veryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    color: var(--white);
    font-size: clamp(1rem, 2vw + 1rem, 1.8rem);
}
p {
    line-height: 1.7em;
    font-size: clamp(0.8rem, 1.5vw + 0.5rem, 1rem);
    color: var(--lightGrey);
}
button {
    border: none;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--orange);
    letter-spacing: 0.25rem;
    width: 100%;
    padding: 0.7rem;
    border-radius: 2rem;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
    &:active {
        background-color: var(--white);
        color: var(--orange);
    }
    @media (min-width: 30rem) {
        padding: 1rem;
    }
}
main {
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    max-height: 25rem;
    max-width: 25rem;
    width: 95%;
    height: 50%;

    background-color: var(--darkBlue);
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.1rem;
    padding: 2rem;
}
.bg__star {
    padding: 0.5rem;
    @media (min-width: 25rem) {
        padding: 0.8rem;
    }
    @media (min-width: 30rem) {
        padding: 1rem;
    }
}
.bg__star,
.rating-btn {
    background-color: var(--mediumGrey);
    border-radius: 100%;
    aspect-ratio: 2/2;
}

.rating__buttons {
    color: var(--lightGrey);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.rating-btn {
    color: var(--white);
    width: clamp(2rem, 8vw + 1rem, 3.5rem);
    display: grid;
    place-items: center;

    &:hover {
        background-color: var(--lightGrey);
        color: var(--white);
    }
    &:active {
        background-color: var(--orange);
        color: var(--white);
    }
}

.card--submitted {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    @media (min-width: 20rem) {
        gap: 1.8rem;
    }

    @media (min-width: 25rem) {
        gap: 2.6rem;
    }

    @media (min-width: 30rem) {
        gap: 2.3rem;
    }
}
.phone__img {
    width: 30%;
    min-width: 8rem;

    @media (min-width: 25rem) {
        width: 50%;
    }
}
.rating {
    background-color: var(--mediumGrey);
    color: var(--orange);
    border-radius: 1em;
    padding: 0.2rem 1rem;
    font-size: small;

    @media (min-width: 25rem) {
        font-size: medium;
        padding: 0.5rem 1.5rem;
    }
}

.card--not-visable {
    display: none;
}

.btn--selected {
    background: var(--lightGrey);
}
